<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- este arquivo de configuração, destina-se a padronização do mecanismo 
	de logs da aplicação -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
		</layout>
	</appender>



	<logger name="org.hibernate">
		<level value="error" />
	</logger>

	<logger name="org.hibernate.SQL">
		<level value="error" />
	</logger>

	<logger name="org.hibernate.type">
		<level value="error" />
	</logger>

	<logger name="org.hibernatespatial">
		<level value="error" />
	</logger>

	<logger name="log4j.logger.net.sf.hibernate.ps.PreparedStatementCache">
		<level value="error" />
	</logger>

	<logger name="com.mchange.v2.c3p0.impl">
		<level value="error" />
	</logger>

	<logger name="com.mchange.v2.resourcepool">
		<level value="error" />
	</logger>

	<logger name="com.mchange.v2.c3p0">
		<level value="error" />
	</logger>

	<logger name="*">
		<level value="debug" />
	</logger>
	<root>
		<priority value="CONSOLE" />
	</root>
</log4j:configuration>